#game{
    background: rgba(80,4,32,.5);
    margin-top: 20px;
    height: 100%;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 15px 5px 5px 20px;
    border-radius: 10px;
    border: 1px solid #a7a7b7;

}
#boxLoading{
    width: 100%;
    height: 100%;
    opacity: 1.2;
    background: transparent;
    position: absolute;
    z-index: 999999;
}
#loading{
    position: absolute;
    z-index: 9999;
    top: 40%;
    right: 36%;
}
#result-bet{


}
.result-number{
    width:30%;
    float: left;
    height: 66px;
    text-align: center;
}
.card-result{
    display: inline-block;
}
.card-result p{
    margin-top: 0;
    font-weight: bold;
    color: #fff;
}
#card-board{
    display: flex;
    flex-wrap: wrap;
    height: 470px;
    width: 100%;
    /*border: 2px solid lime;*/
    perspective: 1000px;
}
.card{
    width: 30%;
    height: 24%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: .5s;
    margin: 5px;
}

.card:active{
    transform: scale(.97);
    transition: .2s;
}

.card.flip{
    transform: rotateY(180deg);
}
.front-face,.back-face{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: #FFE7EA;
    backface-visibility: hidden;
}
.back-face{
    background-image: url("../images/card-back.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.front-face{
    transform: rotateY(180deg);
    background-color: #fff;

}
.opacity{
    opacity: .5;
}
.card-seven{
    background-image: url("../images/game-nalai.png");
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    background-position: center;
}
.card-one{
    background-image: url("../images/pip.png");
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    background-position: center;
}
.card-three{
    background-image: url("../images/hat.png");
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    background-position: center;
}
.hidden{
    pointer-events: none;
}

.img-result{
    width: 30px!important;
}
@media screen and (max-width: 780px) {
    .img-result{
        width: 25px!important;
    }
    .result-number {
        height: 50px;
    }

}

@media screen and (max-width: 488px) {
    .img-result{
        width: 20px!important;
    }
    .img-result p{
        font-size: 12px;
    }
    .result-number {
        width: 33%;
        height: 50px;
    }
}